html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #0dcaf0;
    background-image: url("images/overlay.png"), linear-gradient(180deg, #0dcaf0 15%, #8bc1cd 85%);
}

.table{
    background-color: transparent;
     
}

.button{
    background-color: transparent;
}

#ApptMDimage{
    height: 500px;
    width: 1200px;
    object-fit: cover;
    object-position: center;
}

a {
    text-decoration: none;
    color: black;
}


.hide {
    display:none;
}

#Button{
    display:block;
    border:double;
    background-color: lightblue;
    width:189px;
    text-align: center;
}

#AppointmentClick{
    display:block;
    border:solid;
    background-color:lightblue;
    font:500;
    
}
