html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #0dcaf0;
    background-image: url("images/overlay.png"), linear-gradient(180deg, #0dcaf0 15%, #8bc1cd 85%);
}

.table{
    background-color: transparent;
     
}

.button{
    background-color: transparent;
}