@model IEnumerable<Physician>

<h2>Physicians</h2>

<table class="table">
    <tr>
        <th>Physician ID</th>
        <th>Name</th>
        <th>Specialty</th>
        <th>Location</th>
    </tr>

    @foreach (var physician in @Model)
    {
        <tr>
            <th><a href=/Physician/ViewPhysician/@physician.PhysicianID>@physician.PhysicianID</a></th>
            <th>@physician.Name</th>
            <th>@physician.Specialty</th>
            <th>@physician.Location</th>
        </tr>
    }

</table>
