@model Physician
<head style="color: white">
    
</head>
<h2>Physician Information</h2>

<table class="table" style="color:white">
    <tr>
        <th>PhysicianID</th>
        <th>Name</th>
        <th>Specialty</th>
        <th>Clinic Location</th>
        <th></th>
    </tr>

    <tr>
        <td>@Model.PhysicianID</td>
        <td>@Model.Name</td>
        <td>@Model.Specialty</td>
        <td>@Model.Location</td>
    </tr>
</table>

