@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">AppointmentMD</h1>
    <p>Welcome! Here we will house the appointments for a group of physicians in order to keep track of each patient coming to clinic.</p>

    <img src="~/ApptMDimage.jpg" alt="Uploaded Image" id="ApptMDimage" />

</div>
